<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

<head>
    <title>Laavutus CHL - muokkaa</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Muokkaa tulipaikan tietoja</h1>
	<div>
		<form th:object="${fire}" th:action="@{../save}" action="#" method="post">
			<label for="id"></label>
			<input type="hidden" th:field="*{id}"/>
		  	<label for="name">Nimi</label>
			<input type="text" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="location">Sijainti</label>
			<input type="text" th:field="*{location}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="coordinates">Koordinaatit</label>
			<input type="text" th:field="*{coordinates}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="catlist">Kategoria</label>
			<select id="catlist" th:field="*{category}" class="form-control">
			 <option th:each="category: ${categories}" th:value="${category.ctgrid}"
			 th:text="${category.type}"></option>
			</select>
			
			<label for="statlist">Status</label>
			<select id="statlist" th:field="*{status}" class="form-control">
			 <option th:each="status: ${statuses}" th:value="${status.statusid}"
			 th:text="${status.state}"></option>
			</select>
			
			<input type="submit" value="Save"></input>
			
		</form>
		<div style="clear: both; display: block; height: 20px;"></div>
		 <a href="/firelist">Peruuta</a>  
      	<div style="clear: both; display: block; height: 20px;"></div>
	</div>
</body>
</html>