<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
<style>
header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
</style>
    <title>Laavutus challenge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header><h1>Laavutus Challenge</h1></header>
	 <div class="col-md-4" style="padding:20px 0">
	</div>
	<ul>
	  <li><a class="active" href="/index">Alkuun</a></li>
	  <li><a href="/firelist">Tulipaikat</a></li>
	  <li><a href="/reviewlist">Arvostelut</a></li>
	</ul>
    <table class="table table-striped"> 
    	<tr th:each = "fire : ${fires}">
    		<td th:text="${fire.name}"></td>
    		<td th:text="${fire.location}"></td>
    		<td th:text="${fire.coordinates}"></td>
    		<td th:text="${fire.category}"></td>
    		<td th:text="${fire.status}"></td>	 	
    	</tr>
     </table> 	
</body>    	
</body>
</html>