<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
<style>
header {
  background-color: #ffffff;
  text-align: center;
  padding: 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}
li form {
	text-align: center;
	padding: 20px;
}

</style>
    <title>Laavutus challenge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header><h1>Laavutus Challenge</h1></header>
	<p align="center">Tervemenoa laavuttamaan!</p>
	 <div class="col-md-4" style="padding:20px 0">
	</div>
	<ul>
	  <li><a href="/firelist">Tulipaikat</a></li>
	  <li><a href="/reviewlist">Arvostelut</a></li>
	  <li style="float:right"><form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-danger"/>
		</form></li>
	</ul>
    <table class="table table-striped">
		<tr>
		    <th>Nimi</th>
		    <th>Sijainti</th>
		    <th>Koordinaatit</th>
		    <th>Tyyppi</th>
		    <th>Status</th>
		</tr>  
    	<tr th:each = "fire : ${fires}">
    		<td th:text="${fire.name}"></td>
    		<td th:text="${fire.location}"></td>
    		<td th:text="${fire.coordinates}"></td>
    		<td th:text="${fire.category}"></td>
    		<td th:text="${fire.status}"></td>	
    		<td><a href="/addreview" class="btn btn-success">Arvostele</a></td>
    		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${fire.id})}" class="btn btn-warning">Muokkaa</a></td>  
    		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${fire.id})}" class="btn btn-danger">Poista</a></td>  	
    	</tr>
     </table> 	
      <a href="/addfire" class="btn btn-success">Lisää tulipaikka</a>  
</body>    	
</body>
</html>