<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
    <title>Laavutus challenge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Kaikki mahdollisuudet</h1>
	 <div class="col-md-4" style="padding:20px 0">
	</div>
    <table class="table table-striped">
		<tr>
		    <th>Nimi</th>
		    <th>Sijainti</th>
		    <th>Koordinaatit</th>
		    <th>Tyyppi</th>
		    <th>Status</th>
		</tr>  
    	<tr th:each = "fire : ${fires}">
    		<td th:text="${fire.name}"></td>
    		<td th:text="${fire.location}"></td>
    		<td th:text="${fire.coordinates}"></td>
    		<td th:text="${fire.category}"></td>
    		<td th:text="${fire.status}"></td>	
    	</tr>
     </table> 	 	
</body>
</html>