<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
    <title>Laavutus Challenge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Tervetuloa laavuttamaan!</h1>
	 <div class="col-md-4" style="padding:20px 0">
	</div>
      <a href="/firelist" class="btn btn-success">Kaikki tulipaikat</a>   
      <a href="/reviewlist" class="btn btn-success">Kaikki arvostelut</a>   
</body>