<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
 <style>
 header {
  background-color: #ffffff;
  text-align: center;
  padding: 30px;
}
form {
  float: center;
}
</style>
      <head>
      <title>Laavutus Challenge</title>
      </head>
  <body>
 	 <header><h1 th:text="#{header}"></h1></header>
 	 <p align="center" th:text="#{greeting}"></p>
 	 <div class="row justify-content-center">
     <div class="col-md-3 col-md-offset-2">
        <div class="alert alert-danger" th:if="${param.error}">
            Wrong username or password
        </div>
        <div class="alert alert-warning" th:if="${param.logout}">
            You are now logged out
        </div>
        <form th:action="@{/login}" method="post">
            <div class="row justify-content-center"><label>Username<input type="text" name="username" class="form-control"/> </label></div>
            <div class="row justify-content-center"><label>Password<input type="password" name="password" class="form-control"/> </label></div>
            <div class="row justify-content-center"><input type="submit" th:value="#{login}" class="btn btn-primary"/></div>
        </form>
      
       
        
            <div style="clear: both; display: block; height: 30px;"></div>
      
		    <span th:text="#{lang.change}"></span>:
			<select id="locales">
		    <option value=""></option>
		    <option value="fi" th:text="#{lang.fi}"></option>
		    <option value="en" th:text="#{lang.en}"></option>
		    <option value="es" th:text="#{lang.es}"></option>
		    </select>
		    
		    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
			</script>
			<script type="text/javascript">
			$(document).ready(function() {
			    $("#locales").change(function () {
			        var selectedOption = $('#locales').val();
			        if (selectedOption != ''){
			            window.location.replace('login?lang=' + selectedOption);
			        }
			    });
			});
			</script>
			
		 </div>
       </div>
       
       
    </body>
      
</html>