<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
<style>
header {
  background-color: #ffffff;
  text-align: center;
  padding: 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}
active {
  background-color: #4CAF50;
}
</style>

    <title>Laavutus challenge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header><h1>Laavutus Challenge</h1></header>
	 <div class="col-md-4" style="padding:20px 0">
	</div>
	<ul>
	  <li><a href="/index">Alkuun</a></li>
	  <li><a href="/firelist">Tulipaikat</a></li>
	  <li><a class="active" href="/reviewlist">Arvostelut</a></li>
	</ul>
    <table class="table table-striped">
		<tr>
		    <th>Käyttäjänimi</th>
		    <th>Päiväys</th>
		    <th>Otsikko</th>
		    <th>Arvostelu</th>
		    <th>Tulipaikka</th>
		</tr>  
    	<tr th:each = "review : ${reviews}">
    		<td th:text="${review.nick}"></td>
    		<td th:text="${review.date}"></td>
    		<td th:text="${review.subject}"></td>
    		<td th:text="${review.text}"></td>
    		<td> <a th:text="${review.fire.name}" th:href="@{/firelist}"></a></td>
    	</tr>
     </table> 	
      <a href="/addreview" class="btn btn-success">Lisää arvostelu</a> 
</body>
</html>